:root {
  --highlite: gainsboro;
  --color-1: #e9ff00;
  --faded-color: #ebebeb;
  --col1: 120px;
}

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: "Ronzino", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  padding: 0;
  margin: 0;
  text-rendering: geometricPrecision;
  /* hyphens: auto; */
  text-wrap: balance;
  height: 100dvh;
}

a {
  /* color: blue; */
  color: black;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration-color: blue;
}

.hidden-link {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
}

.markdown p {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

::selection {
  background-color: black;
  color: white;
}

@media (max-width: 800px) {
  body {
    font-size: 20px;
    line-height: 24px;
  }
}

@font-face {
  font-family: Ronzino;
  src: url("/fonts/Ronzino-Regular.woff2");
  font-weight: normal;
}
