:root {
  --highlite: gainsboro;
  --color-1: #e9ff00;
  --faded-color: #ebebeb;
  --col1: 120px;
}

body {
  font-family: "Ronzino", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  padding: 0;
  margin: 0;
  text-rendering: geometricPrecision;
  hyphens: auto;
  text-wrap: balance;
}

a {
  color: black;
}

.markdown p {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.date {
  font-size: 0.75rem;
  opacity: 0.6;
  line-height: 1.2;
}

::selection {
  background-color: black;
  color: white;
}

@media (max-width: 800px) {
  body {
    font-size: 24px;
    line-height: 28px;
  }
}
