:root {
  --highlite: gainsboro;
  --color-1: #e9ff00;
  --faded-color: #ebebeb;
  --col1: 120px;
}

body {
  font-family: "Ronzino", Helvetica, Arial, sans-serif;
  /* font-size: clamp(23px, 1.5vw, 30px);
  line-height: clamp(24px, 1.2vh, 32px); */

  font-size: 24px;
  line-height: 28px;

  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: white;
  text-rendering: geometricPrecision;
  hyphens: auto;
}

:global(a):hover {
  border-bottom: 2px dashed var(--color-1) !important;
}

@media (max-width: 800px) {
  body {
    font-size: 24px;
    line-height: 28px;
  }
}
