@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Libre Baskerville';
	src: url('/fonts/libre-baskerville/LibreBaskerville-VariableFont_wght.ttf') format('truetype');
	font-weight: 300 800;
	font-style: normal;
}

@font-face {
	font-family: 'Libre Baskerville';
	src: url('/fonts/libre-baskerville/LibreBaskerville-Italic-VariableFont_wght.ttf')
		format('truetype');
	font-weight: 300 800;
	font-style: italic;
}

@font-face {
	font-family: 'Martian-Mono';
	src: url('/fonts/martian/MartianMono-Light.woff2');
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-serif: 'Libre Baskerville', serif;
	--font-mono: 'Martian-Mono', monospace;
}

@utility link {
	@apply font-normal italic;
	/* text-decoration: underline dotted; */
	text-underline-offset: 0.2rem;
	/* text-decoration-color: #ae24ff; */
	cursor: pointer;
}

@utility highlight {
	padding-top: 0px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	text-decoration-color: color-mix(
		in oklab,
		var(--color-amber-300) /* oklch(87.9% 0.169 91.605) */ 40%,
		transparent
	);
	text-decoration-thickness: 14px;
	text-underline-offset: -14px;
	/* @apply -mx-1.5 -my-0.5 bg-amber-300/40 px-1.5 py-0.5 no-underline!; */
}

:root {
	--pp-min: calc(var(--spacing) * 2);
	--pp-max: calc(var(--spacing) * 8);
	--pp-val: calc(
		var(--pp-min) + (var(--pp-max) - var(--pp-min)) * ((100vw - 320px) / (1200px - 320px))
	);
	--passepartout: clamp(var(--pp-min), var(--pp-val), var(--pp-max));

	text-rendering: geometricPrecision;
}

::selection {
	@apply bg-black text-white;
}

.prose {
	@apply leading-tight text-black;
}
